<div th:fragment="course-components" id="main-content" class="flex-1 ml-16 transition-all duration-300">



    <div class="flex flex-wrap w-full justify-center">

        <div class="m-4"
            th:insert="~{/fragments/description :: description(${courseAll.courseName}, ${courseAll.description})}">
        </div>

        <div class="flex flex-col w-full ml-16 mr-16 mt-4 mb-4 ">
            <div class="w-full p-2 drop-toggle flex flex-col rounded-xl">
                <h1 class="text-3xl text-black ">Disciplinas </h1>
            </div>
        </div>



        <div th:if="${semesterCourses != null}" th:each="entry, iterStat : ${semesterCourses}"
            class="flex flex-col w-full ml-16 mr-16 mt-4 mb-4 ">


            <div th:id="(${iterStat.index + 1})" style="border-color: black;"
                class="w-full p-4 drop-toggle flex flex-col border-2 border-[#1c1c1c] ">
                <div class="flex justify-between items-center">
                    <h1 class="text-lg text-black" th:text="${entry.key}"></h1>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>





            <div th:id="'drops-'+(${iterStat.index + 1})"
                th:class="'ww flex flex-wrap justify-center hidden transition-all duration-300'">

                <div class="teste rounded-md mb-2 flex" th:each="discipline : ${entry.value}">
                    <a th:href="@{${discipline.link}}">

                        <div th:style="'background-color: ' + ${discipline.color} + '; background-size: cover; background-position: center;'"
                            th:class="'flex items-center justify-center rounded-md h-32 w-32 mt-4 ml-2 mr-2 shadow-md relative'">
                            <button
                                class="absolute top-0 right-0 text-gray-600  rounded-full w-8 h-8 flex items-center justify-center">
                                <i class="fa-solid fa-xmark text-white"></i>
                            </button>


                            <h1 class="text-lg font-bold text-white text-outline text-center "
                                th:text="${discipline.name}">
                            </h1>
                        </div>

                    </a>

                </div>

                <div class="teste rounded-md mb-2 flex transition-all duration-300" th:if="${entry.value.size() < 10}"
                    th:each="i : ${#numbers.sequence(entry.value.size() + 1, 10)}">
                    <div th:style="'background-color: #E4D9FF; background-size: cover; background-position: center;'"
                        class="flex items-center justify-center rounded-md h-32 w-32 mt-4 ml-2 mr-2 shadow-md ">
                        <h1 class="text-lg font-bold text-white text-outline text-center  p-2">
                            <img th:src="@{/images/plus.png}" width="20px" alt="">
                        </h1>
                    </div>
                </div>


            </div>

        </div>
        <div th:if="${semesterCourses == null}"
            class="flex flex-col w-full justify-center items-center ml-16 mr-16 mt-4 mb-4 text-center">
            <div class="rounded-md mb-2 flex flex-col items-center transition-all duration-300">
                <h1 class="text-3xl mb-4 text-white font-bold text-xl text-gray-700">
                    Insira novos semestres e suas disciplinas
                </h1>
                <div id="openModalBtnDiscipline"
                    class="flex items-center justify-center rounded-md h-32 w-32 mt-4 shadow-md"
                    th:style="'background-color: #E4D9FF; background-size: cover; background-position: center;'">
                    <img th:src="@{/images/plus.png}" width="20px" alt="">
                </div>
            </div>
        </div>



        <div class="flex flex-col w-full ml-16 mr-16 mt-4 ">
            <div class="w-full p-2 drop-toggle flex flex-col rounded-xl">
                <h1 class="text-3xl text-black ">Pesquisas</h1>
            </div>
        </div>
        <div th:class="'flex flex-wrap justify-center transition-all duration-300'">

            <div class="rounded-md mb-2 flex" th:each="academicResearche: ${academicResearches}">
                <div th:href="@{${academicResearche.link}}" class="flex flex-col">
                    <div th:style="'background-color: ' + ${academicResearche.color} + '; background-size: cover; '"
                        th:class="'flex items-center relative justify-center rounded-md h-32 w-32 mt-4 ml-2 mr-2 shadow-md'">
                        <div id="openModalBtnDeleteResearch"
                            class="absolute top-0 right-0 text-gray-600 rounded-full w-8 h-8 flex items-center justify-center cursor-pointer">
                            <i class="fa-solid fa-xmark text-white"></i>
                        </div>
                        <h1 class="text-lg font-bold text-white text-outline text-center"
                            th:text="${academicResearche.name}"></h1>
                    </div>
                </div>


            </div>

            <div class="rounded-md mb-2 flex transition-all duration-300">
                <div id="openModalBtn"
                    th:style="'background-color: #E4D9FF; background-size: cover; background-position: center;'"
                    class="flex items-center justify-center rounded-md h-32 w-32 mt-4 ml-2 mr-2 shadow-md ">
                    <h1 class="text-lg font-bold text-white text-outline text-center  p-2">
                        <img th:src="@{/images/plus.png}" width="20px" alt="">
                    </h1>
                </div>
            </div>

        </div>



    </div>

    <div id="openModalBtnDeleteCourse"
        th:class="'bg-red-500 flex flex-wrap justify-center transition-all duration-300'">
        <h1>
            Deletar Curso
        </h1>

    </div>
    <!-- Botão para abrir o modal -->

    <div th:insert="~{/fragments/modal/modal-register-discipline :: modal-register-discipline}"></div>
    <div th:insert="~{/fragments/modal/modal-register-research :: modal-register-research}"></div>
    <div th:insert="~{/fragments/modal/modal-delete-research :: modal-delete-research}"></div>
    <div th:insert="~{/fragments/modal/modal-delete-course :: modal-delete-course}"></div>









    </di>
    <script th:fragment="course-components">
        document.addEventListener('DOMContentLoaded', () => {
            const ggg = {
                '1': 'drops-1',
                '2': 'drops-2',
                '3': 'drops-3',
                '4': 'drops-4'
            };

            document.addEventListener('click', (e) => {
                const button = e.target.closest('.drop-toggle');
                if (button) {
                    const buttonId = button.id;
                    const show = ggg[buttonId];
                    const toShow = document.getElementById(show);
                    const icon = button.querySelector("i")

                    // Alternar a visibilidade do conteúdo
                    if (toShow) {
                        toShow.classList.toggle('hidden');

                        if (toShow.classList.contains('hidden')) {
                            icon.classList.remove("fa-angle-down");
                            icon.classList.add("fa-angle-right");
                        } else {
                            icon.classList.remove("fa-angle-right");
                            icon.classList.add("fa-angle-down");
                        }


                    } else {
                        console.log('Elemento com o id ' + show + ' não encontrado.');
                    }
                }
            });
        });


        // Abrir modal ao clicar no botão
        document.getElementById('openModalBtn').addEventListener('click', function () {
            document.getElementById('modal').classList.remove('hidden');
        });

        // Fechar modal ao clicar no botão de fechar
        document.getElementById('closeModalBtnResearch').addEventListener('click', function () {
            document.getElementById('modal').classList.add('hidden');
        });

        // Fechar modal ao clicar fora do conteúdo
        document.getElementById('modal').addEventListener('click', function (e) {
            if (e.target === this) {  // Verifica se o clique foi fora do conteúdo do modal
                this.classList.add('hidden');
            }
        });


        document.getElementById('openModalBtnDiscipline').addEventListener('click', function () {
            document.getElementById('modal-discipline').classList.remove('hidden');
        });

        // Fechar modal ao clicar no botão de fechar
        document.getElementById('closeModalBtnDiscipline').addEventListener('click', function () {
            document.getElementById('modal-discipline').classList.add('hidden');
        });

        // Fechar modal ao clicar fora do conteúdo
        document.getElementById('modal-discipline').addEventListener('click', function (e) {
            if (e.target === this) {  // Verifica se o clique foi fora do conteúdo do modal
                this.classList.add('hidden');
            }
        });


        // Para abrir o modal ao clicar no botão de exclusão
        const deleteButtons = document.querySelectorAll("#openModalBtnDeleteResearch");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function (event) {
                event.stopPropagation(); // Impede que o evento de clique suba e acione o link
                event.preventDefault();  // Previne a ação padrão (redirecionamento)

                document.getElementById('modal-delete-research-button').classList.remove('hidden'); // Abre o modal
            });
        });

        // Fechar modal ao clicar no botão de fechar
        document.getElementById('closeModalBtnDeleteResearch').addEventListener('click', function () {
            document.getElementById('modal-delete-research-button').classList.add('hidden'); // Fecha o modal
        });

        // Fechar modal ao clicar fora do conteúdo
        document.getElementById('modal-delete-research-button').addEventListener('click', function (e) {
            if (e.target === this) {  // Verifica se o clique foi fora do conteúdo do modal
                this.classList.add('hidden'); // Fecha o modal
            }
        });





        document.getElementById('openModalBtnDeleteCourse').addEventListener('click', function () {
            document.getElementById('modal-delete-course-button').classList.remove('hidden');
        });

        // Fechar modal ao clicar no botão de fechar
        document.getElementById('closeModalBtnDeleteCourse').addEventListener('click', function () {
            document.getElementById('modal-delete-course-button').classList.add('hidden');
        });

        // Fechar modal ao clicar fora do conteúdo
        document.getElementById('modal-delete-course-button').addEventListener('click', function (e) {
            if (e.target === this) {  // Verifica se o clique foi fora do conteúdo do modal
                this.classList.add('hidden');
            }
        });



    </script>