<div th:fragment="modal-register-discipline" id="modal-discipline"
    class="fixed inset-0 bg-gray-800 bg-opacity-50 hidden z-50">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg w-full overflow-y-auto " style="height: 500px;"
            id="modalContent">
            <!-- Título do Modal -->
            <div class="flex justify-between items-center mb-2">
                <h2 class="text-xl font-bold ">Disciplina</h2>

                <button id="closeModalBtnDiscipline" class="px-4 py-2 bg-red-500 text-white rounded"><i
                        class="fa-solid fa-x"></i></button>
                <!-- Corpo do Modal -->

            </div>

            <p class="mb-6">Cadastre as informações de uma Disciplina.</p>

            <div class="max-w-md mx-auto">
                <form
                    th:action="@{|/aluno/course${discipline == null ? '/' + idCourse : ''}/discipline/${discipline != null ? 'edit/' + discipline.idDiscipline : 'register'}|}"
                    th:object="${disciplineDTO}" method="post">
                    <div th:if="${discipline != null}">

                        <input type="hidden" name="_method" value="PUT" />
                        <input type="hidden" name="user" th:field="*{user}" />
                        <input type="hidden" name="course" th:field="*{course}" />

                    </div>

                    <label for="disciplineName" class="block text-sm font-medium text-gray-700">Nome da
                        Disciplina</label>
                    <input type="text" id="disciplineName" name="disciplineName" th:field="*{disciplineName}"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        required>


                    <label for="disciplineProfessor" class="block text-sm font-medium text-gray-700">Professor</label>
                    <input type="text" id="disciplineProfessor" name="disciplineProfessor"
                        th:field="*{disciplineProfessor}"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        required>

                    <label for="syllabus" class="block text-sm font-medium text-gray-700">Ementa</label>
                    <textarea id="syllabus" name="syllabus" th:field="*{syllabus}"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        rows="3">
                    </textarea>

                    <label for="disciplineTypeEnum" class="block text-sm font-medium text-gray-700">Tipo da
                        Disciplina</label>
                    <select th:field="*{disciplineTypeEnum}" id="disciplineTypeEnum" name="disciplineTypeEnum"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option value="" disabled selected class="text-black">Selecione o tipo de disciplina</option>

                        <option th:each="disciplineType: ${disciplineTypes}" th:value="${disciplineType}"
                            th:text="${disciplineType.getDisciplineTypeEnum()}" style="color: black;">
                        </option>


                    </select>

                    <label for="department" class="block text-sm font-medium text-gray-700">Departamento</label>
                    <input type="text" id="department" name="department" th:field="*{department}"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        required>


                    <label for="disciplineStatus" class="block text-sm font-medium text-gray-700">Status</label>
                    <select th:field="*{disciplineStatus}" id="disciplineStatus" name="disciplineStatus"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-black">
                        <option value="" disabled class="text-black">Selecione o Status</option>
                        <option th:each="status : ${disciplineStatus}" th:value="${status}"
                            th:text="${status.getDisciplineStatus()}" style="color: black;">
                        </option>
                    </select>


                    <label for="grade" class="block text-sm font-medium text-gray-700">Nota</label>
                    <input type="number" th:field="*{grade}" id="grade" name="grade" step="0.01"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        required>

                    <button class="w-full bg-purple-600 px-3 py-2 rounded-md mt-2 text-white" type="submit">Cadastrar
                        Disciplina</button>
                </form>
            </div>
            <!-- Botão para fechar o modal -->
        </div>
    </div>
</div>