<div th:fragment="modal-delete-research" id="modal-delete-research-button"
    class="fixed inset-0 bg-gray-800 bg-opacity-50 hidden z-50">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg w-full overflow-y-auto" id="modalContent">
            <!-- Título do Modal -->
            <div class="flex justify-between items-center mb-2">
                <h2 class="text-xl font-bold ">Deletar Pesquisa</h2>

                <button id="closeModalBtnDeleteResearch" class="px-4 py-2 bg-red-500 text-white rounded"><i
                        class="fa-solid fa-x"></i></button>
                <!-- Corpo do Modal -->

            </div>

            <p class="mb-6">Você está prestes a deletar uma Pesquisa. Gostaria de prosseguir?
            </p>

            <div class="max-w-md mx-auto">
                <Button class="w-full bg-red-500 h-16 m-2 rounded">Deletar Pesquisa</Button>
            </div>
        </div>
    </div>
</div>