<div th:fragment="modal-register-research" id="modal" class="fixed inset-0 bg-gray-800 bg-opacity-50 hidden z-50">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg w-full overflow-y-auto " style="height: 500px;"
            id="modalContent">
            <!-- Título do Modal -->
            <div class="flex justify-between items-center mb-2">
                <h2 class="text-xl font-bold ">Pesquisa</h2>

                <button id="closeModalBtnResearch" class="px-4 py-2 bg-red-500 text-white rounded"><i
                        class="fa-solid fa-x"></i></button>
                <!-- Corpo do Modal -->

            </div>

            <p class="mb-6">Cadastre as informações de uma Pesquisa.</p>

            <div class="max-w-md mx-auto">
                <form th:action="@{/forms}" method="post">

                    <label for="researchAuthor" class="block text-sm font-medium text-gray-700">Nome do Autor</label>
                    <input type="text" id="researchAuthor" name="researchAuthor"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

                    <label for="supervisor" class="block text-sm font-medium text-gray-700">Nome do Orientador</label>
                    <input type="text" id="supervisor" name="supervisor"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

                    <label for="researchType" class="block text-sm font-medium text-gray-700">Selecione o tipo de
                        pesquisa</label>
                    <select id="researchType" name="researchType"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option>Artigo Cientifico</option>
                        <option>TCC</option>
                        <option>IC</option>
                        <option>Mestrado</option>
                        <option>Doutorado</option>
                        <option>Pós-Doutorado</option>
                    </select>

                    <label for="researchTitle" class="block text-sm font-medium text-gray-700">Título da
                        Pesquisa</label>
                    <input type="text" id="researchTitle" name="researchTitle"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

                    <label for="researchSubject" class="block text-sm font-medium text-gray-700">Assunto da
                        Pesquisa</label>
                    <input type="text" id="researchSubject" name="researchSubject"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

                    <label for="researchAbstract" class="block text-sm font-medium text-gray-700">Resumo da
                        Pesquisa</label>
                    <textarea
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        name="textarea" rows="3">
                    </textarea>

                    <label for="researchPublication" class="block text-sm font-medium text-gray-700">Data
                        Publicação</label>
                    <input type="date" id="researchPublication" name="researchPublication"
                        class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

                    <button class="w-full bg-purple-600 px-3 py-2 rounded-md mt-2 text-white" type="submit">Cadastrar
                        Pesquisa</button>
                </form>
            </div>
            <!-- Botão para fechar o modal -->
        </div>
    </div>
</div>
</div>