<div th:fragment="academic-researches-components" id="main-content" class="flex-1 ml-16 transition-all duration-300">


    <div th:insert="~{/fragments/navbar-user :: navbar-user}"></div>


    <div class="flex flex-wrap w-full justify-center mt-8">

        <div id="openModalBtn"
            class="border-2 border-blue-500 w-full rounded  bg-blue-500 h-12 mr-16 ml-16 flex mb-8 border-round items-center justify-center cursor-pointer hover:bg-blue-600 transition duration-300">
            <h1 class="text-white">Editas Pesquisa</h1>
        </div>
        <div id="openModalBtnDeleteResearch"
            class="border-2 border-blue-500 w-full rounded  bg-blue-500 h-12 mr-16 ml-16 flex mb-8 border-round items-center justify-center cursor-pointer hover:bg-blue-600 transition duration-300">
            <h1 class="text-white">Excluir Pesquisa</h1>
        </div>
        <div class="border-2  border-blue-500 w-full h-12 mr-16 ml-16 flex">
            <button id="overview-button"
                class="border-r-2 w-1/2 focus:text-white active:text-white focus:bg-blue-500 active:bg-blue-700">
                Visão Geral
            </button>
            <button id="reference-button"
                class="border-r-2 w-1/2 focus:text-white active:text-white focus:bg-blue-500 active:bg-blue-700">
                Referencias
            </button>

        </div>

        <div class="w-full mr-16 ml-16 flex mb-2 justify-between">


            <div class="overview " th:insert="~{/fragments/overview-academic-researches :: overview-part1}">

            </div>
            <div class="overview " th:insert="~{/fragments/overview-academic-researches :: overview-part2}">

            </div>

            <div th:insert="~{/fragments/reference-component :: reference-component('Referencias cadastradas nessa pesquisa')}"
                class="reference hidden"></div>

        </div>
        <div th:insert="~{/fragments/modal/modal-register-research :: modal-register-research}"></div>
        <div th:insert="~{/fragments/modal/modal-delete-research :: modal-delete-research}"></div>

    </div>
</div>





<script th:fragment="academic-researches-components">
    document.addEventListener('DOMContentLoaded', () => {
        const button1 = document.getElementById("overview-button");
        const button2 = document.getElementById("reference-button");
        const overviews = document.querySelectorAll(".overview");

        const reference = document.querySelector(".reference");
        button1.focus();

        button1.addEventListener('click', () => {

            reference.classList.add('hidden')
            overviews.forEach(element => {
                element.classList.toggle('hidden');
            });
        });

        button2.addEventListener('click', () => {
            overviews.forEach(element => {
                element.classList.add('hidden');
            });
            reference.classList.toggle('hidden')

        })

    });

    // Abrir modal ao clicar no botão
    document.getElementById('openModalBtn').addEventListener('click', function () {
        document.getElementById('modal').classList.remove('hidden');
    });

    // Fechar modal ao clicar no botão de fechar
    document.getElementById('closeModalBtnResearch').addEventListener('click', function () {
        document.getElementById('modal').classList.add('hidden');
    });

    // Fechar modal ao clicar fora do conteúdo
    document.getElementById('modal').addEventListener('click', function (e) {
        if (e.target === this) {  // Verifica se o clique foi fora do conteúdo do modal
            this.classList.add('hidden');
        }
    });





    // Abrir modal ao clicar no botão
    document.getElementById('openModalBtnDeleteResearch').addEventListener('click', function () {
        document.getElementById('modal-delete-research-button').classList.remove('hidden');
    });

    // Fechar modal ao clicar no botão de fechar
    document.getElementById('closeModalBtnDeleteResearch').addEventListener('click', function () {
        document.getElementById('modal-delete-research-button').classList.add('hidden');
    });

    // Fechar modal ao clicar fora do conteúdo
    document.getElementById('modal-delete-research-button').addEventListener('click', function (e) {
        if (e.target === this) {  // Verifica se o clique foi fora do conteúdo do modal
            this.classList.add('hidden');
        }
    });
</script>