<div th:fragment="academic-researches-components" id="main-content" class="flex-1 ml-16 transition-all duration-300">


    <div th:insert="~{/fragments/navbar-user :: navbar-user}"></div>


    <div class="flex flex-wrap w-full justify-center mt-8">



        <div class="border-2  border-blue-500 w-full h-12 mr-16 ml-16 flex">
            <button class="border-r-2 w-1/4  focus:text-white active:text-white focus:bg-blue-500 active:bg-blue-700">
                Visão Geral
            </button>
            <button class="border-r-2 w-1/4  focus:text-white active:text-white focus:bg-blue-500 active:bg-blue-700">
                Referencias
            </button>
            <button class="border-r-2 w-1/4  focus:text-white active:text-white focus:bg-blue-500 active:bg-blue-700">
                Anotações
            </button>
            <button class="border-r-2 w-1/4  focus:text-white active:text-white focus:bg-blue-500 active:bg-blue-700">
                Tarefas
            </button>
        </div>

        <div class="w-full mr-16 ml-16 flex mt-2 mb-2">


            <div th:insert="~{/fragments/overview-academic-researches :: overview-part1}">

            </div>
            <div th:insert="~{/fragments/overview-academic-researches :: overview-part2}">

            </div>


        </div>

    </div>
</div>




</div>