<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Msivo</title>
    <!-- <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>


    <section th:fragment="form-register" class="bg-gray-50 dark:bg-gray-900 mt-32 mb-32">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                <img th:src="@{/images/logo.png}" class="h-8" alt="Paideia" />

            </a>
            <div
                class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4">
                    <h1
                        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Cadastrar conta
                    </h1>
                    <form th:action="@{/auth/register}" th:object="${body}" method="post"
                        class="space-y-4 md:space-y-6">

                        <div>
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome</label>
                            <input type="text"
                                class="bg-gray-50 border border-gray-300 p-4 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Nome" th:field="*{name}" required>
                        </div>
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seu
                                email</label>
                            <input type="text"
                                class="bg-gray-50 border border-gray-300 p-4 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@company.com" th:field="*{email}" required>
                        </div>
                        <div>
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sua Senha</label>
                            <input type="password" placeholder="••••••••"
                                class="bg-gray-50 border border-gray-300 p-4 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                th:field="*{password}" required>
                        </div>


                        <div class="w-full">
                            <input type="submit"
                                class="border-2 border-purple-600 px-3 py-2 rounded text-white bg-purple-600 w-full"
                                value="Criar Conta" />

                        </div>

                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">

                            Já tem uma conta?
                            <a th:href="@{/auth/login}"
                                class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                                Faça login aqui</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Form Login -->

    <section th:fragment="form-login" class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                <img th:src="@{/images/logo.png}" class="h-8" alt="Paideia" />

            </a>
            <div
                class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1
                        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Login
                    </h1>
                    <form class="space-y-4 md:space-y-6">
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seu
                                email</label>
                            <input type="email"
                                class="bg-gray-50 border border-gray-300 p-4 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@company.com">
                        </div>
                        <div>
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sua Senha</label>
                            <input type="password" placeholder="••••••••"
                                class="bg-gray-50 border border-gray-300 p-4 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>

                        <div class="w-full">
                            <a th:href="@{/aluno/home}"
                                class="border-2 border-purple-600 px-3 py-2 rounded text-white bg-purple-600 w-full">
                                Entrar </a>

                        </div>


                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">

                            Ainda não tem uma conta?
                            <a th:href="@{/auth/register}"
                                class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                                Faça o cadastro aqui</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>