<div class=" p-4 flex flex-col justify-between items-center" th:fragment="reference-component(title)">

    <div>
        <h1 class="mb-8 text-2xl" th:text="${title}"></h1>

    </div>

    <div class="flex flex-wrap justify-center items-center">
        <div class="flex flex-wrap justify-center items-center" th:each="reference : ${referenceList}">
            <div th:each="author : ${reference.referenceAuthors}" class="flex flex-wrap justify-center items-center">

                <div
                    th:insert="~{/fragments/card-for-refers-and-notation :: card(${author}, ${reference.referenceTitle}, ${reference.projectStartDate}, '#e6e6fa')}">
                </div>

            </div>

        </div>
    </div>
</div>