<div class=" p-4 flex flex-col justify-between items-center" th:fragment="reference-component(title)">

    <div>
        <h1 class="mb-8 text-2xl" th:text="${title}"></h1>

    </div>


    <div class="flex flex-wrap justify-center items-center">
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>
        <div
            th:insert="~{/fragments/card-for-refers-and-notation :: card('Froud', 'Ser ou não ser', '2016', '#e6e6fa')}">
        </div>

    </div>

</div>