<div th:fragment="reference" id="main-content" class="flex-1 ml-16 transition-all duration-300">
    <div th:insert="~{/fragments/navbar-user :: navbar-user}"></div>

    <div class="ml-16">
        <h1 class="my-5 font-medium">Referências</h1>
        <div th:insert="~{/fragments/frags-references/reference-components :: reference-components('Ref ID: 5573','Bellamy, Alex J.(2020). World peace','Added January 27, 2022')}"></div>
        <div th:insert="~{/fragments/frags-references/reference-components :: reference-components('Ref ID: 5573','Bellamy, Alex J.(2020). World peace','Added January 27, 2022')}"></div>

    </div>
</div>

</div>