<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referências</title>
    <link rel="icon" th:href="@{/images/logo.ico}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style-user-navbar-end-sidebar.css}">
</head>

<body class="bg-gray-100" style="width: 100%;">

    <div class="flex w-full" style="width: 100%;" id="tela">
        <div class="bg-custom-blue" th:insert="~{/fragments/sidebar :: sidebar}"></div>

        <div th:insert="~{/fragments/reference :: reference}">

        </div>

        <!-- <div class="w-full h-16 bg-blue-500 m-4 ml-32" id="openModalBtnCourse">
            Voce precisa primeiro Cadastrar um curso, para começar <div class="text-blue">click
                aqui</div>
        </div> -->

    </div>

    <script>

        document.addEventListener('DOMContentLoaded', () => {
            const dropdownMenu = document.getElementById('dropdown-menu');
            const mobileMenuButton = document.getElementById('mobile-menu-button');
            const sidebar = document.querySelector('.sidebar');
            const menu = document.getElementById('tela');
            const mainContent = document.getElementById('main-content'); // Selecione o conteúdo principal
            const kkk = {
                '1': 'O-1',
                '2': 'O-2',
                '3': 'O-3',
                '4': 'O-4'
            };

            // Lógica do dropdown no menu lateral
            document.addEventListener('click', (e) => {
                const clickedButton = e.target.closest('.dropdown-toggle');
                if (clickedButton) {
                    const id = clickedButton.id;
                    const h1ToShowId = kkk[id];
                    const h1ToShow = document.getElementById(h1ToShowId);

                    // Toggle o dropdown-menu
                    dropdownMenu.classList.toggle('seek');

                    // Adiciona ou remove a classe para mover o conteúdo
                    if (!dropdownMenu.classList.contains('seek')) {
                        dropdownMenu.style.left = '-100%';  // Defina diretamente a propriedade 'left'
                    } else {
                        dropdownMenu.style.left = '100%';  // Defina diretamente a propriedade 'left'
                    }

                    // Esconder todos os blocos e mostrar apenas o relacionado ao botão clicado
                    document.querySelectorAll('.ww').forEach(h1 => {
                        h1.classList.add('hidden');
                    });

                    // Mostrar o conteúdo correspondente
                    if (h1ToShow) {
                        h1ToShow.classList.remove('hidden');
                    } else {
                        console.log('Elemento com o id ' + h1ToShowId + ' não encontrado.');
                    }
                }
            });

            // Abrir/fechar o menu lateral no mobile
            mobileMenuButton.addEventListener('click', () => {
                sidebar.classList.toggle('menu-active');
            });

            window.addEventListener('click', (e) => {
                if (e.target == menu) {
                    dropdownMenu.classList.add('hidden');
                }
            })

        });
        // tailwind.config.js


    </script>


</body>

</html>