<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Msivo</title>
    <!-- <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <script src="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.14.3/dist/sweetalert2.all.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.14.3/dist/sweetalert2.min.css
    " rel="stylesheet">


</head>

<body>

    <div th:insert="~{/fragments/landing-page/navbar :: navbar}"></div>


    <div th:insert="~{/fragments/register/forms :: form-register}"></div>

    <div th:insert="~{/fragments/landing-page/footer :: footer} "></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const menuToggle = document.getElementById('menu-toggle');
            const mobileMenu = document.getElementById('mobile-menu');

            if (menuToggle && mobileMenu) {
                menuToggle.addEventListener('click', () => {
                    mobileMenu.classList.toggle('active');
                    mobileMenu.classList.toggle('hidden'); // Alterna entre visível/invisível
                });
            }


        });
    </script>
    <script th:if="${alert} == 'error'">
        Swal.fire({
            title: 'Error!',
            text: 'There was an error!',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
</body>

</html>