<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Responsivo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div th:fragment="session03" class="flex flex-col md:flex-row mb-24 mt-12 px-4 md:px-8">
        <div class="w-full md:w-1/3 bg-white-500 p-4 overflow-hidden flex flex-col justify-center items-center">
            <h2 class="font-bold text-xl mb-2">Cadastro de Cursos</h2>

            <img width="60%" th:src="@{/images/exemplo1.png}" alt="Imagem 1">
            <p class="text-gray-700 text-base text-center">
                Adicione cursos. Se você é estudante de ensino médio, graduação ou pós, cadastre seus cursos na plataforma​
            </p>
        </div>
        <div class="w-full md:w-1/3 bg-white-400 p-4 overflow-hidden flex flex-col justify-center items-center">
            <h2 class="font-bold text-xl mb-2">Inclusão de Disciplinas e Pesquisas​</h2>
            <img width="60%" th:src="@{/images/exemplo2.png}" alt="Imagem 2">
            <p class="text-gray-700 text-base text-center">
                Após cadastrar um curso, adicione as disciplinas e pesquisas realizadas naquele curso​
            </p>
        </div>
        <div class="w-full md:w-1/3 bg-white-500 p-4 overflow-hidden flex flex-col justify-center items-center">
            <h2 class="font-bold text-xl mb-2">Gerenciamento de Referências​</h2>
            <img width="60%" th:src="@{/images/exemplo3.png}" alt="Imagem 3">
            <p class="text-gray-700 text-base text-center">
                Administre suas referências acadêmicas e aportes teóricos. Atribua referências a disciplinas e pesquisas acadêmicas​
            </p>
        </div>
    </div>
</body>

</html>