<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Responsivo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div th:fragment="session03" class="flex flex-col md:flex-row mb-24 mt-12 px-4 md:px-8">
        <div class="w-full md:w-1/3 bg-white-500 p-4 overflow-hidden flex flex-col justify-center items-center">
            <h2 class="font-bold text-xl mb-2">Título 1</h2>

            <img width="60%" th:src="@{/images/missao.png}" alt="Imagem 1">
            <p class="text-gray-700 text-base text-center">
                Descrição para a imagem 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
        <div class="w-full md:w-1/3 bg-white-400 p-4 overflow-hidden flex flex-col justify-center items-center">
            <h2 class="font-bold text-xl mb-2">Título 2</h2>
            <img width="60%" th:src="@{/images/missao.png}" alt="Imagem 2">
            <p class="text-gray-700 text-base text-center">
                Descrição para a imagem 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
        <div class="w-full md:w-1/3 bg-white-500 p-4 overflow-hidden flex flex-col justify-center items-center">
            <h2 class="font-bold text-xl mb-2">Título 3</h2>
            <img width="60%" th:src="@{/images/missao.png}" alt="Imagem 3">
            <p class="text-gray-700 text-base text-center">
                Descrição para a imagem 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
    </div>
</body>

</html>