<div th:fragment="discipline-components" id="main-content" class="flex-1 ml-16 transition-all duration-300">

    <div th:insert="~{/fragments/navbar-user :: navbar-user}"></div>

    <div class="flex flex-wrap w-full justify-center mt-8">
        <div id="openModalBtnDiscipline"
            class="border-2 border-blue-500 w-full rounded  bg-blue-500 h-12 mr-16 ml-16 flex mb-8 border-round items-center justify-center cursor-pointer hover:bg-blue-600 transition duration-300">
            <h1 class="text-white">Editar Disciplina</h1>
        </div>
        <div id="openModalBtnDisciplineDelete"
            class="border-2 border-blue-500 w-full rounded bg-blue-500 h-12 mr-16 ml-16 flex mb-8 border-round items-center justify-center cursor-pointer hover:bg-blue-600 transition duration-300">
            <h1 class="text-white">EXCLUIR Disciplina</h1>
        </div>
        <div class="border-2 border-blue-500 w-full h-12 mr-16 ml-16 flex">
            <button id="overview-button"
                class="border-r-2 w-1/2 focus:text-white active:text-white focus:bg-blue-500 active:bg-blue-700">
                Visão Geral
            </button>
            <button id="reference-button"
                class="border-r-2 w-1/2 focus:text-white active:text-white focus:bg-blue-500 active:bg-blue-700">
                Referencias
            </button>


        </div>

        <div class="w-full mr-16 ml-16 flex mt-2 mb-2">
            <div class="overview " th:insert="~{/fragments/overview-discipline :: overview-part1}"></div>
            <div class="overview " th:insert="~{/fragments/overview-discipline :: overview-part2}"></div>

            <div th:insert="~{/fragments/reference-component :: reference-component('Referencias cadastradas nessa disciplina')}"
                class="reference hidden"></div>

        </div>
        <div th:insert="~{/fragments/modal/modal-register-discipline :: modal-register-discipline}"></div>
        <div th:insert="~{/fragments/modal/modal-delete-discipline :: modal-delete-discipline}"></div>


    </div>

</div>

<script th:fragment="discipline-components">
    document.addEventListener('DOMContentLoaded', () => {
        const button1 = document.getElementById("overview-button");
        const button2 = document.getElementById("reference-button");
        const overviews = document.querySelectorAll(".overview");
        const reference = document.querySelector(".reference");

        // Define o foco inicial no botão "Visão Geral"
        button1.focus();

        button1.addEventListener('click', () => {
            button1.focus(); // Mantém o foco no botão ao clicar
            reference.classList.add('hidden'); // Esconde a seção de referência
            overviews.forEach(element => {
                element.classList.toggle('hidden'); // Alterna a visibilidade das seções "overview"
            });
        });

        button2.addEventListener('click', () => {
            overviews.forEach(element => {
                element.classList.add('hidden'); // Esconde as seções "overview"
            });
            reference.classList.toggle('hidden'); // Alterna a visibilidade da seção de referência
        });
    });


    document.getElementById('openModalBtnDiscipline').addEventListener('click', function (e) {
        console.log(e);
        document.getElementById('modal-discipline').classList.remove('hidden');
    });

    // Fechar modal ao clicar no botão de fechar
    document.getElementById('closeModalBtnDiscipline').addEventListener('click', function () {
        document.getElementById('modal-discipline').classList.add('hidden');
    });

    // Fechar modal ao clicar fora do conteúdo
    document.getElementById('modal-discipline').addEventListener('click', function (e) {
        if (e.target === this) {  // Verifica se o clique foi fora do conteúdo do modal
            this.classList.add('hidden');
        }
    });

    document.getElementById('openModalBtnDisciplineDelete').addEventListener('click', function (e) {
        console.log(e);
        document.getElementById('modal-delete-discipline-button').classList.remove('hidden');
    });

    // Fechar modal ao clicar no botão de fechar
    document.getElementById('closeModalBtnDeleteDiscipline').addEventListener('click', function () {
        document.getElementById('modal-delete-discipline-button').classList.add('hidden');
    });

    // Fechar modal ao clicar fora do conteúdo
    document.getElementById('modal-delete-discipline-button').addEventListener('click', function (e) {
        if (e.target === this) {  // Verifica se o clique foi fora do conteúdo do modal
            this.classList.add('hidden');
        }
    });
</script>